@import url("Colors.css");

body {
    background-color: var(--light);
}

/*Buttons*/
.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--dark)
}
.btn-primary:hover{
    background-color: var(--light) !important;
    border-color: var(--primary) !important;
}

/*Menubar*/
.p-menubar {
    background-color: var(--primary) !important;
}
.p-menubar .p-menu-list {
    background: var(--primary) !important;
}
.p-menubar .p-submenu-list {
    background: var(--primary) !important;
}
.p-menubar .p-menuitem {
    background-color: var(--primary) !important;
}
.p-menubar .p-menuitem-text, .p-menubar .p-menuitem-icon, .p-menubar .p-submenu-icon {
    color: var(--text-primary) !important;
}
.p-menubar .p-menuitem-active a {
    background: var(--primary) !important;
}
.p-menubar .p-menuitem-link:hover {
    background-color: var(--dark) !important;
}